body {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color:rgba(86, 223, 86, 0.849);
  text-align: center;
  font-weight: bolder;
}

.form-signin {
  max-width: 350px;
  padding: 10px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
  color: rgb(85, 107, 209);
}
.form-signin .checkbox {
  font-weight: bold;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}
.form-signin .form-control:focus {
  z-index: 3;
}
.form-signin input[type="email"] {
  margin-bottom: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}